<app-container>
  <ng-container *ngIf="pokemon">
    <div class="header my-4">
      <div class="image-container">
        <p class="collected-tag" *ngIf="isInCollection">COLLECTED!</p>
        <img
          [src]="pokemon.sprites?.other.dream_world.front_default"
          [alt]="pokemon.name"
        />
      </div>
      <div class="my-4">
        <button class="btn btn-primary" (click)="collectPokemon()" *ngIf="!isInCollection">
          Collect
        </button>
        <button class="btn btn-danger" (click)="removePokemon()" *ngIf="isInCollection">Remove</button>
      </div>
    </div>

    <article class="row justify-content-center">
      <div class="col-sm-auto col-md-3 stats">
        <p class="section-header">Base Stats:</p>
        <p>
          <span class="stat-name">Name: </span>
          <span>{{
            pokemon.name[0].toUpperCase() + pokemon.name.substring(1)
          }}</span>
        </p>
        <p>
          <span class="stat-name">Types:</span>
          <li *ngFor="let type of pokemon.types">
            {{ type.type.name[0].toUpperCase() + type.type.name.substring(1) }}
          </li>
        </p>
        <p>
          <span class="stat-name">Stats:</span>
          <li *ngFor="let stat of pokemon.stats">
            {{ stat.stat.name[0].toUpperCase() + stat.stat.name.substring(1) }}:
            {{ stat.base_stat }}
          </li>
        </p>
      </div>
      <div class="col-sm-auto col-md-3 stats">
        <p class="section-header">Profile:</p>
        <p>
          <span class="stat-name">Height: </span>
          <span>{{ pokemon.height }}</span>
        </p>
        <p>
          <span class="stat-name">Weight: </span>
          <span>{{ pokemon.weight }}</span>
        </p>
        <p>
          <span class="stat-name">Abilities:</span>
          <li *ngFor="let ability of pokemon.abilities">
            {{
              ability.ability.name[0].toUpperCase() +
                ability.ability.name.substring(1)
            }}
          </li>
        </p>
        <p>
          <span class="stat-name">Base Experience: </span>
          <span>{{ pokemon.base_experience }}</span>
        </p>
      </div>
      <div class="col-sm-auto col-md-3 stats overflow-auto">
        <p class="section-header">Moves:</p>
        <li *ngFor="let move of pokemon.moves">
          {{ move.move.name[0].toUpperCase() + move.move.name.substring(1) }}
        </li>
      </div>
    </article>
  </ng-container>
</app-container>
